*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(233, 247, 247);
}

i{
    font-size: xx-large;
    color: goldenrod;
}

.social-links a .fa-brands{
    transition: all 0.3s ease-in-out;
}

.social-links a .fa-brands:hover{
    transform: scale(1.2);
    color: rgb(145, 111, 28);
}

section{
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.carousel-caption{
    background: rgba(0, 0, 0, .4);
    border-radius: 70%;
}

.btn-outline-success {
    color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

/* header specific styles */
header{
    background: none;
    z-index: 2;
    background: none;
}

.logo{
    width: 6rem; height: auto;
    margin: .5rem 6rem .5rem 3rem;
}

/* Add this CSS to your stylesheet */
.nav-link {
    position: relative;
    overflow: hidden;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 3px;
    background-color: darkgoldenrod;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover::before {
    transform: scaleX(1);
  }
  

/* home section specific styles */
#home{
    height: auto;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/cptow-bg.jpg") no-repeat fixed center/cover;
}

.home-text{
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    color: whitesmoke;
    max-width: 30rem;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem auto 0;
}

.home-text h1{
    padding-bottom: 1rem;
    font-family: "Merriweather", serif;
    color: whitesmoke;
}

.home-text p{
    font-family: "Montserrat", sans-serif;
}

.home-btn{
    margin: 3rem;
}

.home-btn button{
    color: whitesmoke;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin: 1rem;
}

/* about specific styles */
img{
    border-radius: 10px;
}

#about {
    height: auto;
    background: whitesmoke;
}

/* services specific styles */
#services{
    background: gainsboro;
    height: auto;
}

/* gallery specific styles */
#gallery{
    background: gainsboro;
    height: auto;
}

/* features section */
#features{
    padding: 2rem;
    height: auto;
}

.testimonial {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.testimonial p {
    font-size: 18px;
    margin-bottom: 20px;
}

.testimonial .author {
    font-weight: bold;
    color: #333;
}

.testimonial .location {
    font-style: italic;
    color: #777;
}

/* contact section */
#contact {
    padding: 50px 0;
    text-align: center;
    height: auto;
}

.contact-heading {
    font-size: 24px;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-image {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .contact-image {
        max-width: 80%;
    }
}
